@if (User.Identity.IsAuthenticated)
{
    <h2>Authenticated</h2>
    <ul>
        @foreach (var claim in User.Claims)
        {
            <li><strong>@claim.Type</strong>: @claim.Value</li>
        }
    </ul>
}
else
{
    <h2>No user found</h2>
}